
# Server
ALLOWED_ORIGINS=http://localhost:3000, http://localhost:3001

# Database 
DATABASE_IP=localhost
DATABASE_PORT=5432
DATABASE_NAME=gainzos
DATABASE_USERNAME=gainzos
DATABASE_PASSWORD=gainzos

# Web
NEXT_PUBLIC_API_URL=http://localhost:3000